:root {
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-decor-chefs: #cfcfbc;
  --color-chefs-photo: #a18268;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;