.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url('/images/background-footer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  overflow: visible;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0px;
    z-index: 0;
    pointer-events: none;
  }

  &::before {
    content: '';
    background-image: url(/images/bread-before.png);
    /* left: 0px;
  bottom:0px; */
    width: 180px;
    height: 220px;
    /* background-clip: content-box; */
    background-position: left bottom;

  }

  &::after {
    background-image: url(/images/bread-after.png);
    right: 0;
    width: 380px;
    height: 190px;

  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      flex-direction: row;
      gap: 20px;

    }
  }

  &__address,
  &__nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      gap: 20px;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-menu,
  &__address-info {
    flex-grow: 1;
    gap: 20px;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
  }

  &__address-icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__address-copyright {
    color: var(--color-chefs-photo);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }
}